@import url("style.css");
@media (max-width: 800px) {
    html{        
        font-size: 1.25vw;
    }
    .mobile-hidden{
        display: none;
    }   
    .pc-hidden{
        display: unset;
    } 
    /* Хедер */
    header{
        flex-direction: column;         
        padding: 4.2rem 0 2.7rem;        
    }
    .header_logo{
        margin-right: unset;
        margin-bottom: 4rem;
    }
    .header_wrap-1{
        margin-right: unset;
        margin-bottom: 3rem;
    }
    /* Секция 1 */
    .section-1{        
        padding: 13.4rem 0 0 ;     
        display: flex;   
        flex-direction: column;
        text-align: center;
    }
    .section-1_h2{
        margin-bottom: 5rem;
    }
    .section-1_wrap-1{        
        margin-bottom: 5.2rem;
    }    
    .section-1_wrap-3{        
        width: fit-content;        
    }
    .section-1_social-media-list{
        flex-direction: column;
        align-items: center;
    }    
    .section-1_social-media-list_mb{
        margin-bottom: 4rem;
    }
    .section-1_social-media-el{        
        margin-right: 4rem;
    }
    /* Секция 2 */    
    .section-2_wrap-1{
        padding: 12rem 0 6rem ;        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .section-2_wrap-2:first-child{
        margin-right: unset;
        margin-bottom: 4rem;
    }
    .section-2_h3{
        font-size: 5.5rem;
        margin-bottom: 2rem;
        font-family: 'Arial-Bold';
    }
    .section-2_wrap-3{        
        padding: 27.5rem 0 6rem;        
    }
    .section-2_wrap-4-1, .section-2_wrap-4-2{
        margin-bottom: unset;
        font-size: 2.7rem;
        flex-direction: column;       
        margin-left: 18rem;
    }
    .section-2_wrap-4-1{
        width: unset;
    }
    .section-2_wrap-4-2{
        width: unset;
    }
    .section-2_wrap-5{
        display: flex;
        margin-bottom: 5rem;
    }    
    .section-2_wrap-6{
        width: 40rem;
        height: 23rem;
        box-sizing: border-box;
        padding: 9.4rem 0 0 8.2rem;
        background-image: url(img/Сине-желтый_квадрат.png);
        background-size: cover;
        position: absolute;
        right: 0;
        top: -3.5rem;
    }
    .section-2_wrap-7{
        text-align: center;
    }


















    
}
  