@font-face {
    font-family: 'Arial';
    src: url('fonts/ArialMT.woff2') format('woff2'),
        url('fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial-Bold';
    src: url('fonts/Arial-BoldMT.woff2') format('woff2'),
        url('fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




html {
    font-size: 0.52vw;    
}
body{
    margin: 0;
}
.pc-hidden{
    display: none;
} 
a{
    text-decoration: none;
    color: unset;
}
ul {
    padding: 0;
    margin: unset;
}
button{
    background-color: unset;
    border: unset;
    cursor: pointer;    
    padding: unset;
    border: unset;
    font-family: unset;
}
h1, h2, h3, h4, h5, h6{
    margin: unset;
}
hr{
    border: unset;
    margin: unset;
}
/* Хедер */
header{
    font-family: 'Arial';    
    padding: 4.2rem 22.5rem 2.7rem 13.5rem;
    background-color: #016fb7;
    display: flex;
    align-items: center;
    color: white;
}
.header_logo{
    font-family: 'Arial-Bold';
    font-size: 1.7rem;
    margin-right: 28rem;
    position: relative;
}
.header_logo::before{
    content: "";
    position: absolute;
    right: -4.2rem;
    top: -4.2rem;
    background-image: url(img/шарик.png);
    background-size: cover;
    width: 11.5rem;
    height: 14.8rem;
}
.header_logo_wrap-1{
    font-size: 6.1rem;
    margin-bottom: -1rem;
}
.header_wrap-1{
    font-size: 4.4rem;
    margin-right: 12.5rem;
    display: flex;
    text-align: center;
}
.header_phone{
    font-size: 4.1rem;
}
/* Секция 1 */
.section-1{
    background-image: url(img/Слой_2.png);
    background-size: cover;
    padding: 13.4rem 0 16.3rem 13.3rem;
    font-family: 'Arial'; 
    color: white;
}
.section-1_h2{
    font-family: 'Arial-Bold';
    font-size: 6.5rem;
}
.section-1_wrap-1{
    font-family: 'Arial-Bold';
    font-size: 3.6rem;
    margin-bottom: 15.2rem;
}
.section-1_wrap-2{
    font-size: 2.9rem;
    margin-bottom: 4.7rem;
}
.section-1_wrap-3{
    font-size: 3.4rem;
    margin-bottom: 3.3rem;
    padding: 2.3rem 4.4rem 2.3rem 3rem;
    background-color: #016fb7;
    width: 81rem;
    box-sizing: border-box;
}
.section-1_social-media-list{
    display: flex;
}
.section-1_social-media-list_mb{
    display: flex;
}
.section-1_social-media-el{
    display: block;
    margin-right: 0.6rem;
}
.section-1_social-media-el img{
    width: 7.1rem;
    height: 7.1rem;
}
.section-1_problem-child img{
    width: 9.1rem;
    height: 9.1rem;
    margin-top: -0.7rem;
    margin-left: -0.8rem;
}
/* Секция 2 */

.section-2_head{
    height: 44rem;
    background-image: url(img/Chto-takoe-Digital-marketing.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.section-2_h2{
    background-image: url(img/Синяя_полоса.png);
    background-size: cover;
    width: 77.6rem;
    height: 12.6rem;
    box-sizing: border-box;
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    color: white;
    font-size: 6.5rem;
    padding: 2.4rem 0 0 10rem;
    font-family: 'Arial-Bold';
}
.section-2_wrap-1{
    padding: 12rem 0 3rem 9.2rem;
    font-size: 2.7rem;
    font-family: 'Open Sans';
    display: flex;
}
.section-2_wrap-2:first-child{
    margin-right: 19.5rem;
}
.section-2_h3{
    font-size: 5.5rem;
    margin-bottom: 2rem;
    font-family: 'Arial-Bold';
}
.section-2_wrap-3{
    background-color: #003649;
    padding: 8.5rem 0 6rem 8.5rem;
    font-size: 3.7rem;
    font-family: 'Arial';
    color: white;
    position: relative;
}
.section-2_wrap-4-1, .section-2_wrap-4-2{
    margin-bottom: 6rem;
    font-size: 2.7rem;
    display: flex;
    justify-content: space-between;        
}
.section-2_wrap-4-1{
    width: 134.6rem;
}
.section-2_wrap-4-2{
    width: 142.8rem;
}
.section-2_wrap-5{
    display: flex;
}
.section-2_wrap-5_img-1{
    width: 12.2rem;
    height: 10.9rem;
}
.section-2_wrap-5_img-2{
    width: 8.5rem;
    height: 11.9rem;
}
.section-2_wrap-5_img-3{
    width: 10rem;
    height: 10.8rem;
}
.section-2_wrap-5_img-4{
    width: 9.9rem;
    height: 9.4rem;
}
.section-2_wrap-5_img-5{
    width: 11.1rem;
    height: 9.4rem;
}
.section-2_wrap-5_img-6{
    width: 9.5rem;
    height: 10rem;
}
.section-2_wrap-6{
    width: 40rem;
    height: 23rem;
    box-sizing: border-box;
    padding: 9.4rem 0 0 8.2rem;
    background-image: url(img/Сине-желтый_квадрат.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top: -3.5rem;
}
/* Секция 3 */
.section-3{
    padding: 6.9rem 0 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial'; 
}
.section-3_h2{
    font-size: 4.6rem;
    margin-bottom: 6.5rem;
    font-family: 'Arial-Bold';
}
.section-3_wrap-1{
    font-size: 3.8rem;
    margin-bottom: 10.5rem;
    text-align: center;
}
.section-3_wrap-2{
    font-size: 2.3rem;
    margin-bottom: 4.3rem;
    display: flex;
}
.section-3_wrap-2_column-1, .section-3_wrap-2_column-2{
    display: flex;
    flex-direction: column;
}
.section-3_wrap-2_column-1{
    margin-right: 3.3rem;
}
.section-3_wrap-2_column-1 div{
    font-family: 'Arial-Bold';
    font-size: 3.1rem;
}
.section-3_wrap-2_column-1_el-1{
    margin-bottom: 11.4rem;
}
.section-3_wrap-2_column-1_el-2{
    margin-bottom: 10.2rem;
}
.section-3_wrap-2_column-1_el-3{
    margin-bottom: 5.7rem;
}
.section-3_wrap-2_column-1_el-4{
    margin-bottom: 4.1rem;
}
.section-3_wrap-2_column-1_el-5{
    margin-bottom: 6.8rem;
}
.section-3_wrap-2_column-1_el-6{
    margin-bottom: 7.9rem;
}
.section-3_wrap-2_column-2_el{
    margin-bottom: 6rem;
}
.section-3_wrap-3{
    font-size: 4.6rem;
    text-align: center;
}
/* Секция 4 */
.section-4{
    padding-top: 6rem;
    font-family: 'Open Sans';
}
.section-4_head{
    display: flex;
    margin-bottom: 2rem;
}
.section-4_h2{
    width: 70.4rem;
    height: 11.5rem;
    box-sizing: border-box;
    padding-left: 17.7rem;
    background-image: url(img/04.png);
    background-size: cover;
    margin-right: 80rem;
    color: white;
    font-size: 6rem;    
}
.section-4_head-img{
    width: 29.1rem;
    height: 8.9rem;
}
.section-4_discription{
    width: 140rem;
    padding: 2rem 0 3.3rem 2rem;
    background-color: #d3dde0;
    margin: 0 0 8rem 18rem;
    font-size: 2.4rem;
}
.section-4_wrap-1{
    display: flex;
    justify-content: space-between;
    margin: 0 0 4.5rem 18rem;
    font-size: 2.9rem;
    width: 157.7rem;
}
.section-4_wrap-1_wrap{
    display: flex;
    justify-content: space-between;
    width: 72.5rem;
}
.section-4_problem-child-1{
    margin-right: 12.5rem;
}
.section-4_problem-child-2{
    margin-right: 3rem;
}
.section-4_h3{
    margin: 0 0 3.5rem 8rem;
    color: #12394a;
    position: relative;
}
.section-4_h3::before{
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -8rem;
    top: 0.7rem;
    background-color: #003649;
}
.section-4_img{
    width: 100%;
    height: 34rem;
    background-image: url(img/digital-marketing-jpg-1.png);
    background-size: cover;    
    position: relative;
}
.section-4_img::before{
    content: "";    
    width: 30rem;
    height: 1.3rem;
    position: absolute;
    right: 0;
    top: 2.4rem;
    background-color: #c7ff00;
}
/* Секция 5 */
.section-5{
    padding: 11rem 0 5.5rem 14.5rem;
    background-color: #003649;
    color: white;
    font-family: 'Arial';
}
.section-5_h2{
    font-size: 6.4rem;
    margin-bottom: 1.7rem;
    font-family: 'Arial-Bold';
}
.section-5_hr{
    width: 61rem;
    height: 1rem;
    background-color: #bbf305;
    margin-bottom: 2.6rem;
}
.section-5_wrap-1{
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
}
.section-5_wrap-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4rem;
}
.section-5_img-1{
    width: 18.8rem;
    height: 11.2rem;
    margin-bottom: 3.5rem;
}
.section-5_img-2{
    width: 15.4rem;
    height: 11.1rem;
    margin-bottom: 3.3rem;
}
.section-5_img-3{
    width: 14.7rem;
    height: 11.1rem;
    margin-bottom: 3.1rem;
}
.section-5_img-4{
    width: 21.3rem;
    height: 11.9rem;
    margin-bottom: 2.4rem;
}
.section-5_h3{
    font-size: 4.3rem;
    text-align: center;
    font-family: 'Arial-Bold';
    margin-bottom: 5.5rem;
}
.section-5_wrap-2-1, .section-5_wrap-2-2, .section-5_wrap-2-3, .section-5_wrap-2-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.section-5_wrap-2-1{
    height: 68.3rem;
}
.section-5_wrap-2-2{
    height: 59rem;
}
.section-5_wrap-2-3{
    height: 59rem;
}
.section-5_wrap-2-4{
    height: 47.3rem;
}
.bold{
    font-family: 'Arial-Bold';
}
/* Секция 6 */
.section-6{
    padding: 6rem 0 18.3rem;
}
.section-6-wrap{
    padding-left: 10.2rem;
    display: flex;
    flex-direction: column;    
}
.section-6_h2{
    color: white;
    font-size: 6rem;
    font-family: 'Open Sans';
    background-image: url(img/Синяя_полоса06.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 15.5rem;
    width: 77rem;
    box-sizing: border-box;
    padding: 2rem 0 0 13.5rem;
    margin-bottom: 2.2rem;
}
.section-6_wrap-1{
    padding: 2.2rem 3rem 4rem 2.9rem;
    width: fit-content;
    background-color: #d3dde0;
    margin-bottom: 6rem;
    font-size: 2.4rem;
    font-family: 'Open Sans';
}
.section-6_wrap-3{
    display: flex;
    justify-content: space-between;
    width: 165rem;    
    margin-bottom: 6.5rem;
}
.section-6_wrap-3_img-1{
    width: 37.7rem;
    height: 11.6rem;
}
.section-6_wrap-3_img-2{
    width: 35.4rem;
    height: 6.7rem;
}
.section-6_wrap-3_img-3{
    width: 36.2rem;
    height: 7.2rem;
}
.section-6_wrap-3_img-4{
    width: 37.8rem;
    height: 6.1rem;
}
.section-6_wrap-3_img-5{
    width: 34rem;
    height: 13.2rem;
}
.section-6_wrap-3_img-6{
    width: 35.4rem;
    height: 9rem;
}
.section-6_wrap-3_img-7{
    width: 36.5rem;
    height: 10.4rem;
}
.section-6_wrap-3_img-8{
    width: 38rem;
    height: 6rem;
}
.section-6_wrap-3_img-9{
    width: 35.6rem;
    height: 19.2rem;
}
.section-6_wrap-3_img-10{
    width: 40rem;
    height: 14.6rem;
}
.section-6_wrap-3_img-11{
    width: 36.5rem;
    height: 8.3rem;
}
.section-6_wrap-3_img-12{
    width: 38.8rem;
    height: 14.1rem;
}
.section-6_wrap-3_img-13{
    width: 22.2rem;
    height: 30.9rem;
}
.section-6_wrap-3_img-14{
    width: 26.6rem;
    height: 30.7rem;
}
.section-6_wrap-3_img-15{
    width: 28.7rem;
    height: 30.3rem;
}
.section-6_wrap-3_img-16{
    width: 38.6rem;
    height: 17.3rem;
}
/* Секция 7 */
.section-7{
    color: white;
    background-color: #003649;    
    padding: 7.6rem 0 25.2rem 14.47rem;
    position: relative;
}
.section-7::after{
    content: "";
    background-image: url(img/Варинат_Логотипа_МС._Верхний_регистр.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33rem;
    height: 10rem;
    position: absolute;
    right: 14.6rem;
    bottom: 17.3rem;
}
.section-7_h2{
    font-family: 'Arial-Bold';
    font-size: 3.7rem;
}
.section-7_hr{    
    width: 119.2rem;
    height: 1.3rem;
    background-color: #fbfe00;
    margin-bottom: 14rem;
}
.section-7_wrap-1{
    margin-left: 10rem;
    font-size: 2.4rem;
    font-family: 'Open Sans';
    display: flex;
}
.section-7_column-1, .section-7_column-2, .section-7_column-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-7_column-1, .section-7_column-2{
    height: 83.6rem;
    margin-right: 12rem;
}
.section-7_column-3{
    height: 60rem;
}
.section-7_column-3 div:first-child{
    margin-bottom: 12rem;
}
.section-7_column-3 div:last-child{
    margin-top: 2rem;
}
.section-7_wrap-2{
    position: relative;
}
.section-7_wrap-2::before{
    content: "";
    width: 7.5rem;
    height: 8rem;
    background-color: white;
    position: absolute;
    top: 1rem;
    left: -10rem;
}
/* Секция 8 */
.section-8{
    font-family: 'Open Sans';
    color: white;
}
.section-8_wrap-1{
    padding: 4.3rem 0 4.7rem;
    font-size: 3.6rem;
    background-color: #003649;
    text-align: center;
}
.section-8_h2{
    font-size: 7.2rem;
    margin-bottom: 4.6rem;
}
.section-8_wrap-2{
    font-size: 3.3rem;
    color: #000000;
    padding: 5rem 0;
    text-align: center;
}
.section-8_wrap-3{
    background-color: #003649;
    text-align: center;
    padding-bottom: 7rem;
}
.section-8_wrap-3_h3{
    font-size: 7.2rem;
    margin-bottom: 12.6rem;
}
.section-8_wrap-3_wrap{
    display: flex;
    justify-content: center;
}
.section-8_wrap-3_column{
    margin-right: 12.8rem;
    font-size: 2.1rem;
    margin-bottom: 7.5rem;
    position: relative;
}
.section-8_wrap-3_column:last-child{
    margin-right: 0;
}
.section-8_img-1{
    width: 13.5rem;
    height: 15rem;
    position: absolute;
    left: 17rem;
    top: -11.5rem;    
}
.section-8_img-2{
    width: 13.2rem;
    height: 14.1rem;
    position: absolute;
    left: 17rem;
    top: -10.3rem;    
}
.section-8_img-3{
    width: 17rem;
    height: 16.2rem;
    position: absolute;
    left: 14.8rem;
    top: -12.8rem;    
}
.section-8_wrap-3_column_h4{
    font-size: 3.6rem;
    margin-bottom: 3.3rem;
    position: relative;    
    z-index: 2;
}
.section-8_wrap-3_a{
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border: 4px solid white;
    border-top:  2px solid white;
    border-bottom: 2px solid white;
    
}
/* Секция 9 */
.section-9{
    background-image: url(img/s9bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9.5rem 0 3.3rem 8.5rem;
    color: #12394a;
    font-size: 2.7rem;
    font-family: 'Arial';
}
.section-9_h2{
    font-size: 6.6rem;
    font-family: 'Open Sans';
    color: white;  
    margin-bottom: 7.8rem;  
}
.section-9_img-1{
    width: 41.8rem;
    height: 21.4rem;
    margin: 1.2rem 0 3.3rem 1.4rem;
}
.section-9_img-2{
    width: 30.4rem;
    height: 9.4rem;
    margin: 3.4rem 0 6.8rem 8.2rem;
}
.section-9_img-3{
    width: 30.7rem;
    height: 7.8rem;
    margin: 5.9rem 0 7.3rem 8.1rem;
}
.section-9_link{    
    display: block;
    background-color: #1c2132;
    color: white;
    font-size: 2.1rem;
    padding: 2.4rem 1.6rem;    
    width: fit-content;
    margin: 0 auto;
}
/* Футер */
.footer{
    background-image: url(img/footer-bg.png);
    background-position: right;
    background-size: 220rem;
    background-repeat: no-repeat;
    padding: 1rem 0 2.5rem 9.8rem;
    color: white;
    font-family: 'Arial';
    font-size: 2.4rem;
    display: flex;
}
.footer_column-1, .footer_column-2, .footer_column-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer_column-1{
    margin-right: 16.4rem;
}
.footer_column-2{
    margin-right: 17.2rem;
}
.footer_img-1{
    width: 6rem;
    height: 6rem;
    margin-bottom: 3rem;
}
.footer_img-2{
    width: 6.6rem;
    height: 6.6rem;
    margin-bottom: 2.3rem;
}
.footer_img-3{
    width: 7.3rem;
    height: 6.4rem;
    margin-bottom: 2rem;
}
   




