@import url("style.css");
@media (max-width: 800px) {
    html{        
        font-size: 1.25vw;
    }
    .mobile-hidden{
        display: none;
    }   
    .pc-hidden{
        display: unset;
    } 
    /* Хедер */
    header{
        flex-direction: column;         
        padding: 4.2rem 0 2.7rem;        
    }
    .header_logo{
        margin-right: unset;
        margin-bottom: 4rem;
    }
    .header_wrap-1{
        margin-right: unset;
        margin-bottom: 3rem;
    }
    /* Секция 1 */
    .section-1{        
        padding: 13.4rem 0 0 ;     
        display: flex;   
        flex-direction: column;
        text-align: center;
    }
    .section-1_h2{
        margin-bottom: 5rem;
    }
    .section-1_wrap-1{        
        margin-bottom: 5.2rem;
    }    
    .section-1_wrap-3{        
        width: fit-content;        
    }
    .section-1_social-media-list{
        flex-direction: column;
        align-items: center;
    }    
    .section-1_social-media-list_mb{
        margin-bottom: 4rem;
    }
    .section-1_social-media-el{        
        margin-right: 4rem;
    }
    /* Секция 2 */    
    .section-2_wrap-1{
        padding: 12rem 0 6rem ;        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .section-2_wrap-2:first-child{
        margin-right: unset;
        margin-bottom: 4rem;
    }
    .section-2_h3{
        font-size: 5.5rem;
        margin-bottom: 2rem;
        font-family: 'Arial-Bold';
    }
    .section-2_wrap-3{        
        padding: 27.5rem 0 6rem;        
    }
    .section-2_wrap-4-1, .section-2_wrap-4-2{
        margin-bottom: unset;
        font-size: 2.7rem;
        flex-direction: column;       
        margin-left: 18rem;
    }
    .section-2_wrap-4-1{
        width: unset;
    }
    .section-2_wrap-4-2{
        width: unset;
    }
    .section-2_wrap-5{
        display: flex;
        margin-bottom: 5rem;
    }    
    .section-2_wrap-6{
        width: 40rem;
        height: 23rem;
        box-sizing: border-box;
        padding: 9.4rem 0 0 8.2rem;
        background-image: url(img/Сине-желтый_квадрат.png);
        background-size: cover;
        position: absolute;
        right: 0;
        top: -3.5rem;
    }
    .section-2_wrap-7{
        text-align: center;
    }
    /* Секция 3 */   
    .section-3_h2{
        text-align: center;
    }   
    .section-3_wrap-2{
        font-size: 3.4rem;
        text-align: center;
    }
    .section-3_wrap-2_column-1, .section-3_wrap-2_column-2{
        display: flex;
        flex-direction: column;
    }
    .section-3_wrap-2_column-1{
        margin-right: 3.3rem;
    }    
    .section-3_wrap-2_column-1_el-1{
        margin-bottom: 39.4rem;
    }
    .section-3_wrap-2_column-1_el-2{
        margin-bottom: 25.2rem;
    }
    .section-3_wrap-2_column-1_el-3{
        margin-bottom: 26.7rem;
    }
    .section-3_wrap-2_column-1_el-4{
        margin-bottom: 34.1rem;
    }
    .section-3_wrap-2_column-1_el-5{
        margin-bottom: 33.8rem;
    }
    .section-3_wrap-2_column-1_el-6{
        margin-bottom: 25.9rem;
    }    
    .section-3_wrap-2_column-2_el{
        margin-bottom: 6rem;
    }
    .section-3_wrap-3{
        font-size: 4.6rem;
        text-align: center;
    }
    /* Секция 4 */
    .section-4{
        padding-top: 6rem;
        font-family: 'Open Sans';
    }
    .section-4_head{
        display: flex;        
        margin-bottom: 2rem;
    }
    .section-4_h2{        
        margin-right: unset;
          
    }    
    .section-4_discription{
        width: fit-content;
        padding: 2rem 2rem 3.3rem;        
        margin: 0 0 8rem;        
    }
    .section-4_wrap-1{
        display: flex;        
        margin: 0 3rem 4.5rem 9rem;        
        width: unset;
    }
    .section-4_wrap-1_wrap div:first-child{
        margin-bottom: 4.5rem;
    }
    .section-4_wrap-1_wrap{
        display: unset;
        justify-content: unset;
        width: unset;
    }
    .section-4_problem-child-1{
        margin-right: unset;
    }
    .section-4_problem-child-2{
        margin-right: unset;
    }
    /* Секция 5 */
    .section-5{
        padding: 11rem 0 5.5rem;      
        display: flex;
        flex-direction: column;
        align-items: center;  
    }    
    .section-5_wrap-1{
        flex-direction: column;
    }
    .section-5_wrap-2{
        margin-bottom: 9rem;
    }  
    /* Секция 6 */
    .section-6{
        padding-bottom:  8.3rem;
    }
    .section-6-wrap{
        padding-left: unset;
        justify-content: center; 
    } 
    .section-6_wrap-3{
        flex-direction: column;
        width: unset;    
        margin-bottom: unset;
        align-items: center;
    }
    .section-6_wrap-3 img{
        margin-bottom: 5rem;
    }
    /* Секция 7 */
    .section-7{
        color: white;
        background-color: #003649;    
        padding: 7.6rem 0 25.2rem;
        position: relative;
    }
    .section-7::after{
        content: "";
        background-image: url(img/Варинат_Логотипа_МС._Верхний_регистр.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 33rem;
        height: 10rem;
        position: absolute;
        right: 14.6rem;
        bottom: 17.3rem;
    }    
    .section-7_h2{
        text-align: center;
    }
    .section-7_hr{    
        width: 100%;        
    }
    .section-7_wrap-1{
        margin-left: 30rem;
        flex-direction: column;
    }
    .section-7_column-1, .section-7_column-2, .section-7_column-3{        
        margin-bottom: 8rem;
    }    
    .section-7_column-3 div:first-child{
        margin-bottom: 7rem;
    }
    .section-7_column-3 div:last-child{
        margin-top: 7rem;
    }
    .section-7_wrap-2{
        position: relative;
    }
    .section-7_wrap-2::before{
        content: "";
        width: 7.5rem;
        height: 8rem;
        background-color: white;
        position: absolute;
        top: 1rem;
        left: -10rem;
    }
    /* Секция 8 */    
    .section-8_wrap-1{
        padding: 4.3rem 2rem 4.7rem;        
    }
    .section-8_h2{
        font-size: 4.8rem;        
    }
    .section-8_wrap-2{        
        padding: 5rem 2rem;        
    }    
    .section-8_wrap-3_wrap{
        flex-direction: column;
    }
    .section-8_wrap-3_column{
        margin-right: unset;        
        margin-bottom: 17.5rem;        
    }
    .section-8_wrap-3_column:last-child{
       margin-bottom: 7.5rem;
    }
    .section-8_img-1{        
        left: 33rem;           
    }
    .section-8_img-2{        
        left: 33rem;   
    }
    .section-8_img-3{
        left: 32.8rem;  
    }
    /* Секция 9 */
    .section-9_h2{
        margin-top: 2rem;
        font-size: 3.8rem;
    }
    /* Футер */
    
    .footer{
        background-image: unset;
        background-color: #004470;        
        padding: 1rem 0 2.5rem;
        flex-direction: column;
    }
    .footer_column-1, .footer_column-2, .footer_column-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 7rem;
    }
    .footer_column-1{
        margin-right: unset;
    }
    .footer_column-2{
        margin-right: unset;
    }
    






    
}
  